<div class="row">
    <div class="col-sm-6">
        <h3>List of Contacts</h3>
    </div>
    <div class="col-sm-6">
        <div class="float-right">
            <a [routerLink]= "['add']"><button class="btn btn-primary btn-xs">Add</button></a>
        </div>
    </div>
</div><!-- row -->

<div class="row">
    <div class="col-sm-12">
        <table id="mytable" class="table table-bordred table-striped">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Company</th>
                <th>Phone Number</th>
                <th>Job Title</th>
                <th>Note</th>
                <th>View</th>
                <th>Delete</th>
             </thead>
             <tbody>
                <tr *ngFor="let contact of contacts; let i = index;">
                    <td>{{ i+1 }}</td>
                    <td>{{ contact?.name }}</td>
                    <td>{{ contact?.email }}</td>
                    <td>{{ contact?.company }}</td>
                    <td>{{ contact?.phoneNumber }}</td>
                    <td>{{ contact?.jobTitle }}</td>
                    <td>{{ contact?.note }}</td>
                    <td><a [routerLink]= "contact.id"><p data-placement="top" data-toggle="tooltip" title="View"><button class="btn btn-primary btn-xs">View</button></p></a></td>
                    <td><button class="btn btn-danger btn-xs" data-toggle="modal"  [attr.data-target]="'#deleteModal_'+i">Delete</button></td>
                
                   <!-- The Modal -->
                    <div class="modal fade" [id]="'deleteModal_'+i">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                            <h5 class="modal-title">Are you sure want to delete record ?</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteConatct(contact?.id)">Yes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            </div>
                        </div>
                        </div>
                    </div>
                
                </tr>
                
            </tbody>
            </table>
    </div>
</div><!-- row -->